﻿<div class="jumbotron">
    <h1>ASP.NET</h1>

</div>
<div class="row">
    <div class="col-md-4">
        <a href="/api/values/GetAllEmployee">Get All Employee</a>
    </div>
    <div class="col-md-4">
        <a href="/api/values/GetCompanyAvgSalary">Get Average Salary</a>
    </div>
    

    <div class="col-md-4">
        <a href="/api/values/GetCompanyAvgAge">Get Average Age</a>
    </div>


</div>

<br /><br />
<div class="=row">
    <div class="col-md-4">
        <input type="text" onkeypress="return isNumberKey(event)" placeholder="Enter Employee ID" id="EmployeeId" title="Employee ID" inputmode="numeric" />
        <button type="button" id="details" onclick="GetEmployeeId()">Details</button>
    </div>

    <div class="col-md-4">
        <input type="text" onkeypress="return isNumberKey(event)" placeholder="Enter Employee ID" id="AvgEmployeeId" title="Employee ID" inputmode="numeric" />
        <button type="button" id="details" onclick="CheckEmployeeAvgAge()">Average Age</button>
    </div>
    <div class="col-md-3">
        <button type="button" id="details" onclick="CheckEmployeeAvgSalary()">Average Salary</button>
    </div>

</div>


<script type="text/javascript">
    function GetEmployeeId() {
        var id = document.getElementById('EmployeeId').value;
        //console.log(id);
        window.open('/api/values/GetEmployeeByID/?EmployeeId=' + id);

    }

    function CheckEmployeeAvgAge() {
        var id = document.getElementById('AvgEmployeeId').value;
        window.open('/api/values/GetEmployeeAvgAge/?EmployeeId=' + id);

    }
    function CheckEmployeeAvgSalary() {
        var id = document.getElementById('AvgEmployeeId').value;
        window.open('/api/values/GetEmployeeAvgSalary/?EmployeeId=' + id);

    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>